.NavigationItem {
    margin: 5px 0px;
    box-sizing: border-box;
    display: block;
    width: 100%;
}

.NavigationItem a {
    color: black;
    text-decoration: none;
    width: 90%;
    background-clip: border-box;
    box-sizing: border-box;
    border-radius: 5px;
    display: block;
    padding: 16px 20px;
    margin: 0px 10px;

}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    padding: 16px 20px;
    color: black;
    background-color: #C2E6F7;
}

@media (min-width: 500px) {
    .NavigationItem {
        margin: 0;
        display: flex;
        height: 100%;
        width: auto;
        align-items: center;
    }
    
    .NavigationItem a {
        color: white;
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        height: 100%;
        padding: 16px 20px;
        border-bottom: 4px solid transparent;
    }
    
    .NavigationItem a:hover,
    .NavigationItem a:active,
    .NavigationItem a.active {
        background-color: #0E556E;
        color: white;
    }
}