.chat{
    display: flex;
    height: 80vh;
}
.flexGrow{
    flex-grow: 1;
}
.group{
    cursor: pointer;
}
.groups-box{
    background-color:#f1f1f1;
    width: 450px;
    display: flex;
    flex-direction: column;
}
.chat-box{
    flex-grow: 1;
    height: 80vh;
}
@media (max-width: 900px) {
    .chat{
        display: flex;
        flex-direction: column;
        height:80vh;
    }
    .flexGrow{
        flex-grow: 1;
        height: 75vh;
    }
    .inactive{
        display: none;
    }
    .active{
        width: -webkit-fill-available;
        width: -moz-available;
    }
    .groups-box{
        background-color:#f1f1f1;
        width: 100vw;
    }
}
.groups-alert{
    padding: 19px 20px 0px 20px;
    height: 50px;
    color: #101220;
    font-size: 25px;
    font-weight: bold;
    line-height: 24px;
}
.caneca{
    height: 70px;
    margin-right: 10px;
}
.message{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: #101220;
}
.inactive-group{
    display: none;
}
.active-group{
    width: -webkit-fill-available;
    width: -moz-available;
}
.notices{
    display: flex;
    flex-direction: column;
}
.title{
    justify-content: center;
    align-items: center;
}