.group{
    border: 1px solid #dedede;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    height: 70px;
    justify-content: flex-start;
    max-width: 450px;
    cursor: pointer;
    width: 100%;
    text-align: left;
}
@media (max-width: 900px) {
    .group{
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        display: flex;
        height: 70px;
        align-items: center;
        justify-content: flex-start;
        max-width: 95vw;
        cursor: pointer;
        width: 100%;
        text-align: left;
    }
}
@media (max-width: 900px) {
    .group{
        border: 1px solid #dedede;
        background-color: #f1f1f1;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        max-width: 97vw;
        cursor: pointer;
        width: 100%;
        text-align: left;
    }
}
.fs{
    flex-shrink: 0;
    display: flex;
}
.title{
    background-color: #f1f1f1;
    padding: 0px 20px;
    border: 1px solid #dedede;
    display: flex;
    height: 68px;
    width: -webkit-fill-available;
    width: -moz-available;
    margin-bottom: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.img{
    border: 2px solid #101220;
    padding: 2px;
    height: 40px;
    width: 40px;
    margin: 5px;
    border-radius: 10px;
}
.nameOfGroup{
    margin: 5px 30px 0px 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #101220;
    min-width: 150px;
}
.nameOfGroupTitle{
    margin: 15px 30px 0px 30px;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    color: #101220;
}
.inactive{
    display: none;
}
.active{
    width: -webkit-fill-available;
    width: -moz-available;
}
.status{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.map{
    height: 400px;
    width: 100%;
}
.boxBody{
	margin: 0 auto;
    display: flex;
    flex-direction: column;
	border: 1px solid #ccc;
    position: relative;
    justify-content: center;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
    margin: 1rem 0em;
    padding: 1em 1em;
    border-radius: 0.28571429rem;
    border: 1px solid rgba(34, 36, 38, 0.15)
}
.login{
    justify-content: center;
    width:400px;
    display: flex;
    flex-direction: column;
}
.input{
    position: relative;
    font-weight: normal;
    font-style: normal;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    color: rgba(0, 0, 0, 0.87);
    flex-grow: 1;
}
.inputPassword{
    display: flex;
    width: 100%;
    justify-content: flex-start;
}
.buttonLogin{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    border-radius: 3px;
    cursor: pointer;
}
.buttonRegister{
    background-color: #8c8c8c;
    border: none;
    color: white;
    padding: 5px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px 2px;
    border-radius: 3px;
    cursor: pointer;
}
.paper{
    display: flex;
    margin-top: 64px;
    align-items: center;
    flex-direction: column;
}
.form{
    margin: 40px;
    min-width: 450px;
}
.title{
    font-size: 20px;
    font-weight: 500;
    padding: 0px;
    margin: 0px;
    line-height: 24px;
    color: #101220;
}
.activegroup{
    background-color: transparent; /* Green */
    border: 2px solid #4CAF50;
    border-radius: 5px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
}
.ativargrupo{
    background-color: #101220; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.gerenciargrupo{
    background-color: orange; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}