.message{
    font-size: small;
    border: 2px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 3px 10px;
    align-items: flex-start;
    align-content: flex-start;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    cursor: pointer;
    width: 100%;
}
.messageUser{
    font-size: small;
    border: 2px solid #d9d9d9;
    background-color: #d9d9d9;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 3px 10px;
    align-self:flex-end;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    cursor: pointer;
    width: 100%;
}
.p{
    margin: 3px;
}